body{font-family:'Red Hat Display','Noto Sans KR',sans-serif;line-height:1.75;color:#212529;font-weight:400;letter-spacing:.1px}
:root {
  --main_color: #8dc63f;
  --title_color: #333;
  --bg_color: #f6f6f6;
}
/* //body */

header .header_wrap {
  /*position: relative;*/
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}
/* 스크롤 내리면 tnb 영역 사라지고 브라우저 top에 닿으면 다시 보이게 */
header .header_wrap.scroll {
  top: -45px;
  background: #fff;
  color: #000;
}
header .header_wrap.scroll nav {
  color: #000;
  background: #fff;
}
header .header_wrap.scroll .logo a {
  background: url('../images/logo_hover.png');
}
/* 스크롤 올리면 header영역이 생기고 내리면 사라지게 */
header .header_wrap.hide {
  top: -128px;
}
header .tnb_area {
  background-color: #f4f4f4;
}
header .tnb_area ul {display: flex; justify-content: center; align-items: center;}
header .tnb_area ul li {height: 45px; flex-basis: 168px; text-align: center; padding: 0 10px;}
header .tnb_area ul li::after {display: block; content: ''; width: 100%; height: 4px; background-color: var(--main_color); transform: scaleX(0);}
header .tnb_area ul li:hover::after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}
header .tnb_area ul li.on::after {
  transform: scaleX(1);
}
header .tnb_area ul li:nth-child(2)::after {
  background-color: #da1009;
}
header .tnb_area ul li:nth-child(3)::after {
  background-color: #fe8100;
}
header .tnb_area ul li:nth-child(4)::after {
  background-color: #47b3ea;
}
header .tnb_area ul li a:hover {
  color: #000;
}
header .tnb_area ul li a {
  display: inline-block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #999;
}
header nav {
  display: flex;
  align-items: center;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  transition: 0.3s;
  color: #fff;
}
header nav:hover {
  background: #fff;
  color: #000;
}
header nav:hover > ul > li > a {
  color: #000;
}
header .logo {
}
header .logo a {
  padding: 0 15px;
  background: url('../images/logo.png') no-repeat;
  width: 120px;
  height: 40px;
  background-size: 100%;
  background-position: center;
  display: block;
}
header nav:hover .logo a {
  background: url('../images/logo_hover.png') no-repeat;
}
header nav .gnb_area {
  display: flex;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.02em;
  background-color: transparent;
}
header nav .mobile_gnb_area {
  display: none;
}
header nav .gnb_area > li {
  padding: 28px 24px 24px 24px;
}
header nav .gnb_area > li > a {
  font-weight: bold;
}
header .gnb_area > li > a::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--main_color);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
header .gnb_area > li > a:hover::after {
  transform: scaleX(1);
}
header .sub_container {
  background: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  color: #000;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
header .sub_container.active {
  height: 400px;
}
header .gnb_area .sub_container::before {
  content: '';
  display: block;
  box-shadow: 0 1px 4px rgba(0,0,0,20%);
  width: 100%;
  height: 1px;
}
header .sub_container > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
}
header .sub_container > ul > li {
  display: inline-block;
  width: 25%;
  padding: 20px 20px;
}
header .sub_container > ul > li a {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  color: #666;
}
header .sub_container .sub_title {
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: #000;
}
header .sub_container .sub_title::after {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('../images/menu_arrow.png') no-repeat;
  background-size: 100%;
}


header .sub_container > ul > li.w50 {
  width: 50%;
}
/* li a 중 첫번째 제외 */
header .sub_container > ul > li.w50 a {
  padding-left: 20px;
  padding-right: 20px;
}
header .sub_container > ul > li.w50 a:not(:first-of-type) {
  display: inline-block;
}
/* //gnb_area */

header nav .util_area {
  position: relative;
  display: flex;
}
header nav .util_area > li {
  margin-top: 5px;
  padding: 0 15px;
}
header nav .util_area .login_sub {
  position: absolute;
  top: 55px;
  left: 0;
  text-align: center;
  padding: 26px 35px;
  visibility: hidden;
  background: #fff;
  color: #000;
  font-size: 13px;
  line-height: 38px;
}
header nav .util_area .language_sub {
  position: absolute;
  top: 55px;
  right: 20px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  line-height: 30px;
  visibility: hidden;
  padding: 26px 35px;
}
/* ?? */
header nav .util_area li:hover .login_sub {
  visibility: visible;
}
header nav .util_area li:hover .language_sub {
  visibility: visible;
}
header nav .util_area .side_container {
  position: fixed;
  top: 0;
  right: -100%;
  /*right: 0;*/
  bottom: 0;
  z-index: 30;
  width: 100%;
  background: url('http://www.nongshim.com/resources2/images/common/sitemap_bg_01.png') no-repeat;
  background-size: cover;
  transition: 0.5s;
}
header nav .side_tnb.tnb_area {
  position: relative;
}
header nav .side_container.active {
  right: 0;
  overflow-y: auto;
}
header nav .side_menu .close_btn {
  position: absolute;
  z-index: 300;
  top: 70px;
  right: 10%;
}
header nav .side_menu {
  margin: 0 auto;
  max-width: 1200px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav .side_menu .menu_category {
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 30px 50px;
}
header nav .side_menu .menu_category li {
  padding: 5px;
}
header nav .side_menu .menu_category li a {
  display: block;
  color: #ccc;
}
header nav .side_menu .menu_category .menu_title {
  font-weight: bold;
  color: #fff;
}
header nav .side_menu .menu_category strong {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
header nav .side_menu .menu_category strong::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--main_color);
  border-radius: 50%;
  margin-right: 5px;
}
/* //header */

footer .footer_wrap {
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px 20px;
  display: flex;
}
footer .link_area ul {
  width: 70%;
}
footer .link_area li {
  display: inline-block;
  padding-bottom: 12px;

}
footer .link_area li a {
  padding-right: 15px;
  font-size: 15px;
  line-height: 20px;
  color: #333;
}
footer .link_area li:nth-child(5) a {
  font-weight: 600;
  color: #539a00;
}
footer .link_area li:nth-child(7) a {
  font-weight: 600;
  color: #ff6216;
}

footer .link_area li::after {
  content: '';
  display: inline-block;
  border-left: 1px solid #ddd;
  height: 12px;
  margin-right: 15px;
}
footer .link_area li:last-child::after {
  display: none;
}
footer .link_area li:nth-child(5)::after {
  display: none;
}
footer address {
  color: #666;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
footer address h2 {
  font-weight: 600;
  padding-right: 15px;
  display: inline-block;
}
footer address span {
  padding-right: 15px;
  display: inline-block;
  padding-bottom: 5px;
}
footer address span::before{
  content: '';
  display: inline-block;
  border-left: 1px solid #ddd;
  height: 12px;
  margin-right: 15px;
}
footer address span:nth-child(5):before{
  display: none;
}
footer .copyright {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
footer .family_site {
  position: relative;

}
footer .family_site > a {
  display: block;
  width: 240px;
  height: 45px;
  border: 2px solid #e8e8e8;
  border-radius: 25px;
  padding: 10px 30px 10px 22px;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bg_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
}
footer .site_modal {
  width: 648px;
  display: flex;
  flex-direction: column;
  color: #666;
  position: absolute;
  bottom: 0;
  right: 5%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 30px;
  visibility: hidden;
  font-size: 14px;
}
footer .site_modal.active {
  visibility: visible;
}
footer .bg_modal.active {
  visibility: visible;
}
footer .site_modal .group_list.site_list {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 24px;
}
footer .site_modal .brand_list.site_list {
  padding-top: 24px;
}
/* ? li a에 적용 x */
footer .site_modal .site_list li {
  display: inline-block;
  width: calc((100% - 40px)/4);
  margin-top: 12px;
  font-weight: 600;
}
footer .site_modal .site_list li a::after {
  content: '';
  display: block;
  color: #539a00;
  background: #539a00;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
}

footer .site_modal .site_list li a:hover::after {
  transform: scaleX(1);
  transition: width 200ms ease-in-out;
  transition: 0.3s;
}
footer .site_modal .site_title {
  font-weight: 600;
  color: #000;
}
footer .site_modal .btn_close {
  position: absolute;
  top: -30px;
  right: -30px;
  padding: 10px;
}
footer .site_modal .btn_close i {
  font-size: 25px;
  color: #fff;
  opacity: 0.5;
}
footer .sns_area {
  text-align: center;
  padding-top: 20px;
}
footer .sns_area .icon_fb {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 5px;
  background: url('http://www.nongshim.com/resources2/images/common/facebook.svg');
}
footer .sns_area .icon_insta {
  margin: 0 5px;
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url('http://www.nongshim.com/resources2/images/common/instagram.svg');
}
footer .sns_area .icon_ytb {
  margin: 0 5px;
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url('http://www.nongshim.com/resources2/images/common/youtube.svg');
}
footer .sns_area .icon_blog {
  margin: 0 5px;
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url('http://www.nongshim.com/resources2/images/common/blog.png');
  
}
/*footer .icon_web {
  display: block;
  width: 52px;
  height: 34px;
  float: right;
  background: url('http://www.nongshim.com/resources2/images/common/web-accessibility.png');
  background-size: 100%;
}*/
footer .top_btn {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 2%;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
footer .top_btn:hover {
  background: var(--main_color);
  color: #fff;
}
footer .top_btn i {
  line-height: 50px;
}
/* //footer */